@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

@font-face {
    font-family: Sangrando;
    src: url(fontes/fonte-sangue.ttf) format(truetype);
}

body {
    background-image: linear-gradient(to right, #00A388, #79BD8F, #BEEB9F, #FFFF9D, #FF6138);
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-indent: 30px;

}

h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    font-family: 'Rubik Moonrocks', cursive;
    text-align: right;
    color: darkgreen;
}

h3 {
    font-style: italic;
    font-weight: normal;
    font-size: medium;
    font-family: Sangrando;
    color: red;
    text-align: left;
    font-size: 30px;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
color: blue;
text-decoration: underline;
}